<header class="header">
    <div class="header-logo">
      <div class="menu-toggle" id="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <a href="/">
        <img src="/icons/logocoyb.png" alt="Logo" class="logo">
      </a>
      <h2 style="position: center;">Coyhaique Recicla</h2>
      
    </div>
    
    <nav class="menu-header" id="nav-menu-index">
      <ul>
        <li><button onclick="window.location.href='/mapa'" class="object">
        <p>PUNTOS DE RECICLAJE</p>
        <i class="fas fa-recycle"></i>
      </button></li>
        <li><button class="object">
          <p>HORARIOS SECTORES</p>
          <i class="fas fa-clock"></i>
      </button></li>
        <li><button class="object">
          <p>CAM. RECOLECTOR</p>
          <i class="fas fa-truck"></i>
      </button></li>
        <li><button class="object">
          <p>TOLVA PERIURBANAS</p>
          <i class="fas fa-recycle"></i>
      </button></li>
      </ul>
    </nav>
    <button id="install-button" class="header-button" style="display: none;">Instalar App</button>
  </header>

  
      