<section class="text-white mx-auto px-6 md:px-12 lg:px-6 xl:px-0" id="timeline">
	<div class="relative py-12 md:py-32">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 800 800" class="absolute inset-0 z-[-1] top-[-50px] opacity-50 blur-lg">
	
		<defs>
			<filter id="bbblurry-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feGaussianBlur stdDeviation="98" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur">
				</feGaussianBlur>
			</filter>
		</defs>
		<g filter="url(#bbblurry-filter)">
			<ellipse rx="136.5" ry="114.5" cx="544.4749318067941" cy="441.20694528949207" fill="#03569bff">
			</ellipse>
			
				<ellipse rx="136.5" ry="114.5" cx="389.88871916925723" cy="228.72677580349102" fill="#39cefdff">
				</ellipse>
				<ellipse rx="136.5" ry="114.5" cx="259.999978509873" cy="423.2337136792887" fill="#f57c00">
				</ellipse>
			
		</g>
	
</svg>
		<div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
			<div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
				<p class="ml-2 text-[#f57c00] uppercase tracking-loose">
					COYHAIQUE LIMPIO
				</p>
				<h2 class="py-10 md:leading-relaxed font-bold text-4xl lg:text-5xl text-gray-900 dark:text-white">
					COMO USAR TUS PUNTOS VERDES
				</h2>

				<p class="text-sm md:text-base text-gray-50 mb-4">
					Un punto verde es un lugar habilitado para la recogida selectiva de residuos que no pueden ser depositados
                        en los contenedores habituales, como papel, cartón, vidrio, plásticos, metales, y otros materiales reciclables1.
                         Estos puntos están diseñados para facilitar el reciclaje y asegurar que los residuos se gestionen de manera adecuada, contribuyendo
                          así a la economía circular y la sostenibilidad ambiental </p>
			</div>
			<div class="ml-0 md:ml-12 lg:w-2/3 sticky">
				<div class="container mx-auto w-full h-full">
					<div class="relative wrap overflow-hidden p-10 h-full">
						<div class="border-2-2 border-yellow-555 absolute h-full border" style="right: 50%; border: 2px solid #f57c00; border-radius: 1%;">
						</div>
						<div class="border-2-2 border-yellow-555 absolute h-full border" style="left: 50%; border: 2px solid #f57c00; border-radius: 1%;">
						</div>
						<div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
							<div class="order-1 w-5/12"></div>
							<div class="order-1 w-5/12 px-1 py-4 text-right">
								<p class="mb-3 text-base text-[#f57c00]">Paso 1</p>
								<h4 class="mb-3 font-bold text-lg md:text-2xl">
									Separar los Residuos
								</h4>
								<p class="text-xs md:text-md leading-snug text-gray-50 text-opacity-100">
									Junta y separa todos tus residuos que ya no necesitas, como periódicos, revistas, vidios, etc. Asegúrate de que esté limpio y seco.
								</p>
							</div>
						</div>
						<div class="mb-8 flex justify-between items-center w-full right-timeline">
							<div class="order-1 w-5/12"></div>
							<div class="order-1 w-5/12 px-1 py-4 text-left">
								<p class="mb-3 text-base text-[#f57c00]">Paso 2</p>
								<h4 class="mb-3 font-bold text-lg md:text-2xl">
									Limpias
								</h4>
								<p class="text-xs md:text-md leading-snug text-gray-50 text-opacity-100">
									Retira cualquier material no reciclable, como grapas, clips, cintas adhesivas o plásticos.
								</p>
							</div>
						</div>
						<div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
							<div class="order-1 w-5/12"></div>
							<div class="order-1 w-5/12 px-1 py-4 text-right">
								<p class="mb-3 text-base text-[#f57c00]">Paso 3</p>
								<h4 class="mb-3 font-bold text-lg md:text-2xl">
									Almacenamiento
								</h4>
								<p class="text-xs md:text-md leading-snug text-gray-50 text-opacity-100">
									Guarda el papel en una bolsa o caja de cartón hasta que tengas una cantidad suficiente para llevar al punto verde.
								</p>
							</div>
						</div>

						<div class="mb-8 flex justify-between items-center w-full right-timeline">
							<div class="order-1 w-5/12"></div>

							<div class="order-1 w-5/12 px-1 py-4">
								<p class="mb-3 text-base text-[#f57c00]">Paso 4</p>
								<h4 class="mb-3 font-bold text-lg md:text-2xl text-left">
									Ubicación y Transporte
								</h4>
								<p class="text-xs md:text-md leading-snug text-gray-50 text-opacity-100">
									Encuentra el punto verde más cercano a tu ubicación. Puedes buscar en línea o consultar con tu municipio. 
                                    Coloca el papel en el contenedor azul, que es el destinado para papel y cartón
								</p>
							</div>
						</div>
					</div>
					<div class="image-usuarios">
						<div class="image-item"><img src="/icons/separa.png"></div>
						<div class="image-item"><img src="/icons/almacena.png"></div>
						<div class="image-item"><img src="/icons/transporta.png"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>